@import "../bower_components/bootstrap/less/bootstrap.less";
//@import "../bower_components/bootstrap/less/theme.less";
@icon-font-path: "../bower_components/bootstrap/dist/fonts/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../bower_components/font-awesome/fonts";

/* Directive LESS */
/* Add Directive LESS Above */

/* Partial LESS */
/* Add Partial LESS Above */

/* Required for ui.bootstrap */
table[datepicker] {
  width: 210px;
  height: 200px;

  th {
    .pull-left  { text-align: left ; padding-left: 8px; padding-right: 0; }
    .pull-right { text-align: right; padding-left: 0; padding-right: 8px; }
    &[colspan="1"] { width: 100% * 1 / 3; }
    &[colspan="3"] { width: 100% * 3 / 5; }
    &[colspan="5"] { width: 100% * 5 / 7; }
    &[colspan="6"] { width: 100% * 6 / 8; }
  }
  em {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    font-size: 85%;
    color: @brand-info;
    border: 1px solid @brand-info;
    border-radius: 50%;
  }
  button {
    outline: 0;
    border: 0;
    width: 100%;
  }
  td button {
    height: 100%;
    padding: 1px;
  }
}

/* Required for ng-strap */
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: 0;
    border: 0;
  }
  tbody {
    height: 180px;
    button {
      padding: 6px;
    }
  }
  &.datepicker-mode-1 tbody button,
  &.datepicker-mode-2 tbody button {
    height: 65px;
  }
}
.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: 0;
    border: 0;
  }
  tbody button {
    padding: 6px;
  }
}

/* Personal preference for BS modal. The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//  &.fade {
//    .transition(opacity .3s);
//  }
//  &.fade .modal-dialog {
//    .translate(0,0);
//  }
//}
